<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>You created a place!!!! </h1>
        <p>{{ newplace.getcityname }}</p>
        <ul><li>{{ newplace.getdurationstayed }}</li>
        <li><img src="{{ newplace.getcityimage }}"></li></ul>
        <p><a class="btn btn-primary" href='/'>View places</a></p>
    </div>
</body>
</html>
